<br>
<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cadastro de cliente</h5>
        <p class="card-text">Por essa opção você realiza o cadastro de clientes.</p>
        <a href="/cliente/cadastro" class="btn btn-primary">Cadastrar</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cadastro de contas</h5>
        <p class="card-text">Por essa opção você realiza o cadastro de contas.</p>
        <a href="/conta/cadastro" class="btn btn-primary">Cadastrar</a>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Lista de clientes</h5>
        <p class="card-text">Lista os clientes cadastrados e edite ou exclua se necessário.</p>
        <a href="/cliente/lista" class="btn btn-primary">Relatório</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Lista de contas</h5>
        <p class="card-text">Lista as contas cadastrados e edite ou exclua se necessário.</p>
        <a href="/conta/lista" class="btn btn-primary">Relatório</a>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Lista de contas (API)</h5>
        <p class="card-text">Lista todas as contas cadastrados em um relatório Json.</p>
        <a href="/api/conta" class="btn btn-primary">Gerar Json</a>
      </div>
    </div>
  </div>
</div>